.header {
  height: 5rem;
  background-color: #ff3b3c;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search .logo img {
  width: 100px;
}

.search .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.search .form input {
  box-sizing: border-box;
  width: 100px;
  border-radius: 7px;
  border: none;
  text-align: center;
  padding: 0.5rem;
}

.nav {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 0.8rem;
}

ul a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

.list-social li:first-child,
.list-social li:nth-of-type(2) {
  display: none;
}

.nav ul a:hover {
  text-decoration: underline;
}

@media (min-width: 368px) {
  .search .social {
    font-size: 1rem;
  }

  .search .logo img {
    width: 150px;
  }

  .search .form input {
    width: 150px;
    padding: 0.75rem;
  }
}

@media (min-width: 768px) {
  .header {
    height: 9.5rem;
  }

  .header .container {
    flex-direction: column;
  }

  .search .logo img {
    width: 278px;
  }

  .search .form input {
    height: 62px;
    width: 250px;
  }

  .search .social {
    font-size: 1.25rem;
  }

  ul a {
    font-size: 1rem;
  }

  .list-social li:first-child,
  .list-social li:nth-of-type(2) {
    display: block;
  }

  .nav {
    display: flex;
    width: 100%;
  }

  .nav ul {
    width: 100%;
  }
}
